.goBack, .noteName {
    border: 1px solid black;
}

.goBack {
    display: block;
    margin: 10px 20px 20px 20px;
    padding: 35px 100px;
    text-align: center;
}

.currentFolder {
    font-size: 24px;
    text-align: right;
    margin: 10px;
    padding: 30px 100px;
}

.currentNote {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content {
    margin: 10px;
    padding: 20px 80px 20px 10px;
}

@media (max-width: 600px) {
    .currentNote {
        flex-wrap: wrap-reverse;
    }
}
