

.folder, .note, .addFolder {
    border: 1px solid black;
    margin: 1px 10px 1px 0px;
}

.mainFolder {
    padding-top: 10px;
}

.folder, .addFolder {
    padding: 30px 80px; /*top/bottom right/left*/
}

.note {
    margin: 10px;
    padding: 20px 80px 20px 10px; /*top right bottom left*/
}

.modified {
    padding-top: 10px;
}

.notesHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
